body {
    min-height: 100vh;
    display: flex;
    place-content: center;
    font-family: 'Open Sans', sans-serif;
}

.app-main {
    max-width: 1024px;
    margin: 0 auto;
}

.site-subtitle {
    text-align: center;
}

.site-title {
    margin: 10px;
}

@media (prefers-color-scheme: dark) {
    html {
        filter: invert(100%);
        background-color: #eee
    }
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}